<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="pwaMeta">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="icon" th:href="@{/img/icon.png}">
  <link rel="manifest" th:href="@{/manifest.json}">
  <link rel="apple-touch-icon" th:href="@{/img/icon.png}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Dakar-Terminal">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#4B49AC">
</th:block>
